<div layout="column" ng-cloak>
  <md-content class="md-padding">
    <md-card>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>
            <span>{{vm.title}}</span>
          </h2>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="More" ng-click="vm.cancel()">
            <md-icon md-svg-icon="assets/icons/ic_close_white_24px.svg"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-card-content>
        <div ng-repeat="(k,v) in vm.fields">
          <h2 class="md-title">{{v}}</h2>

          <p>{{vm.item[k]}}</p>
        </div>
        <ng-transclude></ng-transclude>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button class="md-raised" ng-click="vm.cancel()">Volver</md-button>
        <md-button class="md-raised md-warn" ng-click="vm.deleteConfirm($event)" ng-if="!vm.options.readOnly">Eliminar</md-button>
        <md-button class="md-raised md-primary" ng-click="vm.edit()" ng-if="!vm.options.readOnly">Editar</md-button>
      </div>
    </md-card>
  </md-content>
</div>
