<custom-form item="entity" options="form_options"></custom-form>
<md-input-container>
  <label>Proveedor</label>
  <input ng-model="search.nombre">
</md-input-container>
<div ng-repeat="p in proveedores|filter:search" ng-show="search.nombre">
  <md-button ng-click="selectProveedor(p)">{{p.nombre}}</md-button>
</div>
<!--<select name="repeatSelect" id="repeatSelect" ng-model="entity.proveedor">-->
  <!--<option ng-repeat="p in proveedores" value="{{p.id}}">{{p.nombre}}</option>-->
<!--</select>-->
