<md-dialog aria-label="Importar" ng-cloak flex="80">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Importar</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="assets/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div>
        <div layout="row" layout-align="center">
          <md-input-container>
            <label>Seleccionar archivo</label>
            <input disabled ng-model="file.name">
          </md-input-container>
          <md-button class="md-fab md-primary" aria-label="Browse"
                     ngf-select ng-model="file" name="file" ngf-max-size="20MB"
                     ngf-pattern="'application/json'" accept="application/json">
            <md-icon md-svg-src="assets/icons/ic_folder_open_white_24px.svg"></md-icon>
            <md-tooltip>
              Buscar...
            </md-tooltip>
          </md-button>
          <md-button class="md-fab" aria-label="Upload" ng-click="submit()">
            <md-icon md-svg-src="assets/icons/ic_file_upload_white_24px.svg"></md-icon>
            <md-tooltip>
              Subir
            </md-tooltip>
          </md-button>
        </div>
        <div ng-show="selected">
          <div layout="row" layout-sm="column" layout-align="space-around" ng-show="loading">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>
          <div ng-hide="loading">
            <h3 class="text-center">Resultados</h3>
            <pre>{{result}}</pre>
          </div>
        </div>
      </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
        OK
      </md-button>
    </div>
  </form>
</md-dialog>
